{{!-- Put this into default.hbs --}}
{{!< default}}
<section class="timeline">
    <header>
        <h1>{{@site.title}}</h1>
        <p>{{@site.description}}</p>

        <div class="svg-frame">
            <img class="svg-image"  
            src="/assets/images/hud.svg" alt="HUD" />
        </div>
    </header>

    <section class="post-box">
        <h2>Latest Posts</h2>

        <ol class="post-list">
            {{#foreach posts}}
                <li class="post">

                    <time class="post__metadata post__date-published">{{date published_at}}</time>

                    <h3 class="post__title"><a href="{{url}}">{{title}}</a></h3>

                    <div class="post__tags">
                        <div class="post__tags-list">
                            {{#foreach tags}}
                                <a href="{{url}}" title="{{name}}" class="post__tag post__tag--{{slug}}">
                                    {{name}}
                                </a>
                            {{/foreach}}
                        </div>
                    </div>
                </li>

            {{/foreach}}
        </ol>
    </section>

    

    {{pagination}}
</section>